{% extends 'base_layout.html' %}
{% block content%}
{% for concurso in concurso %}
{% load staticfiles  %}
  <h1>Bienvenidos al Concurso {{ concurso.nombre }} </h1>
    <div>
      <center>
          <img src={{concurso.ruta_imagen.url}} width="300" height="200">
      </center>
    </div>
    <div>
       <table class="table table-hover table-sm">

          <tr>
            <th>Nombre</th>
            <td>{{ concurso.nombre }}</td>
          </tr>
          <tr>
            <th>Fecha Inicio</th>
            <td>{{ concurso.fecha_inicio|date:"Y-m-d" }}</td>
          </tr>
          <tr>
            <th>Fecha Fin</th>
            <td>{{ concurso.fecha_fin|date:"Y-m-d" }}</td>
          </tr>
          <tr>
            <th>Valor Pagar</th>
            <td>{{ concurso.valor_pagar }}</td>
          <tr>
          <tr>
            <th>Texto Voz</th>
            <td>{{ concurso.texto_voz }}</td>
          <tr>
          <tr>
            <th>Recomendaciones</th>
            <td>{{ concurso.recomendaciones }}</td>
          <tr>
          <tr>
            <th>Estado</th>
            <td>{{ concurso.estado }}</td>
          </tr>
        </table>
    </div>
    <div>
      <form class ='formularios' method='post' action="{% url 'WebConcursos:enviar_audio' id_concurso=concurso.id  %}">
        {% csrf_token %}
        <p><input class="btn btn-primary my-2" type='submit' value='Participar'/></p>
      </form>
    </div>

    <div>
      <form class ='formularios' method='post' action="{% url 'WebConcursos:lista_de_audios' id_concurso=concurso.id  %}">
        {% csrf_token %}
        <p><input class="btn btn-primary my-2" type='submit' value='Escuchar Audios'/></p>
      </form>
    </div>

    {% endfor %}
{% endblock%}
