{% extends 'base_layout.html' %}

{% block content%}
{% load staticfiles  %}
  <center>
  <h1>Bienvenidos a SuperVoices!!!!!!!!</h1>
  <p>Somos el banco de voces comerciales más completo en medios de comunicación</p>
  <p>Encuentra aquí voces para eventos, animaciones comerciales, cuñas y todo lo que necesites para impactar a tu audiencia</p>
  <div>
    <center>
           <p><a href="{% url 'WebConcursos:registro' %}">Si aun no eres parte...Registrate</a></p>
           <p><a href="{% url 'WebConcursos:login' %}">Si ya lo eres...Ingresa</a></p>
    </center>
  </div>
   {% for usuario in usuarios  %}
   <div>
    {% for empresas in empresas  %}
        {% if empresas.id_usuario.id == usuario.id %}
        <h1>Concursos de la Empresa: {{empresas.Empresa}}</h1>
        {% endif %}
       {% endfor %}
     {% for concurso in concursos  %}
          {% if concurso.id_administrador.id == usuario.id %}
            <h2>{{concurso.nombre}}</h2>
              <p><a href="{{concurso.url_concurso}}"><image width="300" height="200" src={% concurso.ruta_imagen.url %}></a></p>
              <p>Ganate $ {{concurso.valor_pagar}}</p>
          {% endif %}
     {% endfor %}
    <center>
   </div>
  {% endfor %}
{% endblock%}
