{% extends 'base_layout.html' %}

{% block content%}
{% load staticfiles  %}

<div>
    <h1>Lista de audios</h1>
</div>

{% for audios in lista %}
    <div>
        <p>Fecha de publicación: {{ audios.fecha_creacion }}</p>
        <p>Participante : {{ audios.nombre }} {{ audios.apellidos }}</p>
        <p>E-mail : {{ audios.email }}</p>
        <p>Observaciones : {{ audios.observaciones }}</p>
        <p><audio controls="controls" preload="none">
            <source src= {{audios.archivo_convertido.url}} type="audio/mpeg">
        </audio>
    </div>

{% endfor %}

{% endblock%}
